.hero-container {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  background:
    linear-gradient(to right, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.3)),
    url('https://pixelz.cc/wp-content/uploads/2018/10/battlefield-4-soldier-helicopter-uhd-4k-wallpaper.jpg');
  background-size: cover;
  background-position: center;
}

.hero-content {
  max-width: 600px;
  margin-left: 100px;
}

.hero h1 {
  font-size: 48px;
  line-height: 1.2;
}

.hero span {
  color: #4f7cff;
}

.member-btn {
  padding: 12px 20px;
  border: 1px black solid;
  border-radius: 8px;
  background: white;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

/* CTA */

.cta {
  margin-top: 20px;
  padding: 15px 30px;
  border: none;
  background: linear-gradient(90deg, #4f7cff, #6a5cff);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.cta:hover {
  transform: scale(1.05);
}