---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="about">
    <div class="container">
      <p>
        <span> Projects</span> — это моя личная библиотека кода, сделанная на <span
          >Astro</span
        >.
      </p>
      <p>
        Здесь я собираю примеры вёрстки, UI-компоненты и полезные заметки, чтобы
        использовать их в будущих проектах.
      </p>
      <ul>
        <li>
          🔹 Идея проекта проста: иметь под рукой готовые решения, которые можно
          быстро адаптировать под новые задачи.
        </li>
        <li>
          🔹 Внутри есть всё: от базовых HTML-шаблонов до кастомных компонентов
          на Astro.
        </li>
        <li>
          🔹 Со временем база будет расширяться — я хочу, чтобы она стала чем-то
          вроде справочника по фронтенду.
        </li>
      </ul>
    </div>
  </div>
</Layout>

<style>
  .about {
    padding: 20px 40px;
    text-align: justify;
  }

  .about p {
    font-size: 1.5rem;
  }

  .about ul li {
    font-size: 1.2rem;
  }

  .about span {
    color: #2e8791;
  }
</style>
