# C:\Programming\web-projects\.npmrc
node-linker=isolated
shamefully-hoist=true
strict-peer-dependencies=false
public-hoist-pattern[]=*next*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*@types/*
public-hoist-pattern[]=*@babel/*
public-hoist-pattern[]=*webpack*