@import "mobile.css";

html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
  justify-content: left;
  margin-top: 35px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.nav_title {
  display: flex;
}

.nav_menu a {
  color: rgb(255, 255, 255);
  text-decoration: none; 
}

.nav_menu a:hover {
  color: red;
  text-decoration: underline;
}

.nav_menu {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: flex-start;
  gap: 15px;
  margin-top: 35px;
  list-style: none;
  font-size: 24px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 10;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;

  color: #ffffff;
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.subtitle p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}

.title_hero {
  margin-top: 9px;
  font-size: 48px;
  color: white;
}

.subtitle_hero {
  width: 245px;
  height: 24px;

  font-size: 16px;
  line-height: 24px;

  color: white;
}

.svg_icon {
  width: 65px;
  height: 65px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.svg_icon a:hover {
  color: red;
}

.hero {
  background-image: url(../assets/img/homepage.webp);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero_title {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 206px;
  padding-bottom: 25px;
  gap: 9px;
}

.hero_title h2,
.title h2 {
  font-size: 48px;
  line-height: 60px;
  width: 700px;
}

.hero_title p {
  font-size: 16px;
}

.hero_btn_title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 44px;
  color: white;
}

.hero-content {
  color: white;
}

.portfolio_btn {
  width: 135px;
  height: 45px;

  background: red;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

/* Social */

.social-bar {
  position: fixed;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  z-index: 1;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icons a {
  color: rgb(255, 255, 255);
  font-size: 35px;
  transition: 0.3s;
}

.icons a:hover {
  transform: scale(1.2);
}

.label {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin: 20px 0;
}

.line {
  width: 2px;
  height: 40px;
  background-color: red;
}