:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.dark-theme {
  --bg-color: #121212;
  --text-color: #f5f5f5;
}

button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  background-color: blue;
}