.projects {
  color: white;
  padding: 40px 20px;
}

.projects-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 30px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}

.project-card {
  background: #1a1a1a;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  max-height: 500px;
  max-width: 600px;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-image img {
  width: 100%;
  height: auto;
  display: block;
}

.project-content {
  padding: 20px;
}

.project-content h3 {
  font-size: 18px;
  margin: 10px 0;
}

.project-content p {
  font-size: 14px;
  margin-bottom: 15px;
}

.tags {
  margin-bottom: 15px;
  display: none;
}

.tags span {
  display: inline-block;
  background: blue;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 6px;
  margin: 3px;
}

.links {
  display: flex;
  gap: 20px;
}

.icon {
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.icon:hover {
  color: blue;
  transform: scale(1.2);
}

.project-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tech-icons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.tech-icon img {
  height: 20px;
}

/* Filter */

.filters {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-btn {
  padding: 0.5rem 1rem;
  border: 2px solid white;
  border-radius: 25px;
  background: transparent;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-btn:hover {
  background: rgb(95, 98, 235);
  color: #fff;
}

.filter-active {
  padding: 0.5rem 1rem;
  background: blue;
  color: #fff;
  border: 2px solid white;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 300px) {
  .projects-grid,
  .filters {
    grid-template-columns: repeat(1, 1fr);
    padding: 5px 10px;
  }
}

@media (min-width: 768px) {
  .projects-grid,
  .filters {
    grid-template-columns: repeat(2, 1fr);
    padding: 15px 20px;
  }
  .icon {
    font-size: 20px;
  }
  .tech-icons {
    height: 15px;
  }
}

@media (min-width: 1024px) {
  .projects-grid,
  .filters {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
