.project-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-links a {
  font-size: 25px;
  color: black;
  margin-top: 20px;
  gap: 10px;
}

.project-links a:hover {
  color: blue;
}
