.tracks-section {
  max-width: 1440px;
  margin: 50px auto;
  padding: 0 20px;
}

/*.section-title {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 2px;
  color: white;
}*/

.genre-tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

.tab {
  padding: 0.5rem 1rem;
  border: 2px solid white;
  border-radius: 25px;
  background: transparent;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab.active {
  padding: 0.5rem 1rem;
  background: blue;
  color: #fff;
  border: 2px solid white;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.track-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  margin-bottom: 10px;
  border-bottom: 1px solid #888;
  padding-bottom: 8px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.track {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
}

.track-info .title {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  color: white;
}

.track-info .author {
  font-size: 14px;
  color: white;
  margin: 4px 0 0;
}

.tracklist-title {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 2px;
  color: white;
  margin-bottom: 10px;
}

audio {
  grid-column: 1 / -1;
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
}

/* Tablet */
@media (max-width: 768px) {
  .track-header {
    grid-template-columns: 2fr 1fr 1fr;
  }
  .track {
    grid-template-columns: 2fr 1fr 1fr;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .genre-tabs {
    flex-wrap: wrap;
    gap: 10px;
  }

  .track-header {
    display: none;
  }

  .track {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .track-info .title {
    font-size: 14px;
  }

  .track-info .author {
    font-size: 12px;
  }

  audio {
    width: 100%;
  }
}
