@import "devicon/devicon.min.css";

/* Reset & Base */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  width: 100vw;
  min-height: auto;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: #111;
  color: #fff;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}

svg {
  color: white;
}
svg:hover {
  color: #007bff;
}

h1,
h2,
h3,
p {
  color: white;
}

@media (max-width: 750px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    height: auto;
  }

  .section-header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .features-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .left-content {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
  }

  .right-content {
    margin-top: 10px;
    flex-direction: column;
  }

  .burger {
    display: flex;
  }

  .close {
    display: none;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -240px;
    height: 100%;
    width: 250px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 60px 20px 20px;
    transition: right 0.3s ease;
    z-index: 1000;
  }

  .nav-links a {
    margin: 15px 0;
    font-size: 18px;
    color: white;
  }

  .nav-links.active {
    right: 0;
  }

  .nav-links.active ~ .close {
    display: flex;
  }

  .nav-links.active ~ .burger {
    display: none;
  }

  .quote-btn {
    display: none;
  }
}
