<section class="author">
  <div class="author_block container">
    <p>
      Здесь собраны кейсы к моим проектам. Часть из них написана с помощью
      ChatGTP.
    </p>
  </div>
</section>

<style>
  .container {
    max-width: 1440px;
    margin: 50px auto;
    padding: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .author {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .author_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 95px;
    gap: 10px;

    width: 1109px;
    height: 250px;

    background: #f7f8fa;
    border-radius: 24px;
  }
  .author_block p {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;

    text-align: center;

    color: rgba(0, 0, 0, 0.4);
  }
</style>
