<header class="header">
  <div class="nav-container">
    <button class="burger" id="openMenu" aria-label="Открыть меню">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="28"
        height="28"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        viewBox="0 0 24 24"
      >
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </button>

    <button class="close" id="closeMenu" aria-label="Закрыть меню">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="28"
        height="28"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        viewBox="0 0 24 24"
      >
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>

    <div class="logo">
      <a href="/">Web Projects</a>
      <div class="logo-github">
        <a
          href="https://example.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fa-brands fa-github"></i>
        </a>
      </div>
    </div>

    <nav class="nav" id="menu">
      <a href="/">Главная</a>
      <a href="/Services">Услуги</a>
      <a href="/Example">Примеры</a>
      <a href="/Articles">Статьи</a>
      <a href="/Source">Ресурсы</a>
      <a href="/Contact">Контакты</a>
    </nav>

    <div class="overlay" id="overlay"></div>

    <script src="/assets/js/burgermenu.js" defer></script>
  </div>
</header>
