<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Name</title>
    <meta name="description" content="description" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://example.com/" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">Name<span>name</span></div>
      <nav class="nav">
        <a href="#projects">Projects</a>
        <a href="#about">About</a>
        <a href="#news">News</a>
        <a href="#team">Team</a>
        <a href="#contact">Contact</a>
        <button class="button">Button</button>
      </nav>
    </header>

    <main>
      <section class="hero">
        <div class="container">
          <div class="hero-content">
            <div class="hero-text">
              <h2 class="subheading">Name</h2>
              <h1 class="heading">Text<br />text</h1>
              <p class="description">Lorem ipsum..</p>
              <a href="#" class="read-more">Read more</a>
            </div>
            <div class="hero-image">
              <img src="./img/hero_image.png" alt="hero image" />
            </div>
          </div>
        </div>
      </section>

      <section class="frame">
        <div class="frame-wrapper">
          <img src="./img/frame_image1.png" alt="frame image" />
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer__content">
          <div class="footer__left">
            <h3 class="footer__logo">Name<span>Name</span></h3>
            <p class="footer__text">
              Powered by Webflow.<br />
              All rights reserved.<br />
              Design by
              <a
                href="https://www.figma.com/design/wyJGrJ8n5Z5qUySpXAK8mA/Wishbone?node-id=0-1&t=EQydxqapHMMdiiIw-1"
                target="_blank"
                >Designer Name</a
              >
            </p>
          </div>
          <div class="footer__right">
            <div class="footer__socials">
              <a href="" target="_blank"><i class="fab fa-twitter"></i></a>
              <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="" target="_blank"><i class="fab fa-facebook"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
