 /* Frame */

  .frame {
    width: 100vw;

    display: flex;
    justify-content: center;
  }

  .frame-wrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .frame-wrapper img {
    width: 1120px;
    height: 600px;
    max-width: none;
  }
