html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #f6f6f6;
  color: #333;

  font-family: 'Poppins';
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 16px;
}

p {
  font-size: 16px;
  font-weight: 400px;
  margin-bottom: 12px;

  color: #403E3B;
}