---
import Layout from "../../layouts/Layout.astro";
import MusicProjects from "../../components/react/MusicProjects";
import AlbumCard from "../../components/react/AlbumCard";
import albumsen from "../../data/albums.en.json";

const currentLang = "en";
const albumsData = albumsen;
---

<Layout title={`Music | Dmitry Lean`}>
  <main class="content">
    <div class="albums-section">
      <div class="container">
        <h2 class="album-title">Albums</h2>
        <div class="albums-gallery">
          <div class="discography-grid">
            {
              albumsData.map((album, index) => (
                <AlbumCard album={album} client:visible />
              ))
            }
          </div>
        </div>
      </div>
    </div>

    <MusicProjects client:visible />
  </main>
</Layout>

<style>
  .content {
    display: flex;
    flex-direction: column;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .albums-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

  .latest-release {
    flex: 1;
  }

  .latest-release ul {
    margin-top: 10px;
    font-size: 24px;
    list-style-type: disc;
    padding-left: 20px;
    color: black;
  }

  .latest-release span {
    margin-top: 10px;
    font-size: 24px;
    font-style: italic;
    color: gray;
  }

  .latest-release button {
    margin-top: 20px;
    padding: 10px 20px;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
  }

  .album-title {
    font-size: 48px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .albums-gallery p {
    font-size: 1rem;
    margin-bottom: 15px;
    margin-right: 50px;
    display: flex;
    justify-content: left;
    color: #000000;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .discography-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .library_buttom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 275px;
    height: 56px;
    margin-top: 20px;
  }

  /* ====== Responsive ====== */

  @media (max-width: 768px) {
    .albums-section {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      align-items: center;
    }

    .gallery-grid {
      grid-template-columns: 1fr;
    }

    .discography-grid {
      grid-template-columns: 1fr;
    }

    .albums-gallery h2 {
      font-size: 1.25rem;
    }

    .latest-release h2 {
      font-size: 1.25rem;
    }

    .latest-release ul,
    .latest-release span {
      font-size: 16px;
    }

    .library_buttom button {
      width: 100%;
      max-width: 300px;
    }

    .album-card {
      width: 100%;
      max-width: 320px;
      height: auto;

      justify-content: center;
      align-items: center;
    }

    .library_buttom {
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width: 500px) {
    .albums-gallery h2,
    .latest-release h2 {
      font-size: 1rem;
    }

    .latest-release ul,
    .latest-release span {
      font-size: 14px;
    }

    .album-card {
      max-width: 100%;
      border-radius: 8px;
    }
  }
</style>
